language: php
sudo: false
php:
  - nightly
  - 7.4snapshot
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: 7.4snapshot
  include:
    - php: 5.5
      dist: trusty
    - php: 5.4
      dist: precise
    - php: 5.3
      dist: precise
    
install:
  - pear list
  - pear channel-update pear
  - pear upgrade pear/pear

script:
  - pear list
  - pear install --force package.xml
  - pear list
  - pear package
  - pear package-validate
  - pear install --force *.tgz
  - pear list
  - composer install
  - ./vendor/bin/phpunit -c phpunit.xml.dist

